* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font: 400 1rem/1 "Russo One", sans-serif;
  /* background: url(../img/zvezdy_kosmos.jpg) no-repeat; */
  background: url(../img/zvezdy_kosmos.jpg);
  background-size: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

img {
  width: max-content;
  margin: 0 auto;
}

.btn {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1199px;
  padding: 0 15px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.box::after {
  content: "";
  background: url(../img/star-wars-logo-1002.png) no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 550px;
}

.box {
  display: flex;
}

.btn-gradient {
  width: 160px;
  background: linear-gradient(
    180deg,
    rgba(72, 8, 115, 1) 0%,
    rgba(92, 65, 204, 1) 31%,
    rgba(214, 95, 224, 1) 100%
  );
  box-shadow: 0px 4px 20px rgba(133, 32, 228, 0.85);
  border-radius: 30px;
  margin: auto;
}

.btn-get-info {
  margin-top: 30px;
}

.btn-get-planets {
  margin-top: 30px;
}

.card {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.card-body {
  line-height: 1.5rem;
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-text {
  font-size: 0.8rem;
}

.row {
  height: 500px;
}

.fas,
.fab {
  margin-left: 10px;
}

#next {
  width: 150px;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 500px;
  position: static;
}

/* .animate__animated.animate__flash {
  --animate-duration: 2.7s;
} */

.my-element {
  display: inline-block;
  animation: flash;
  animation-duration: 2.7s;
  animation-iteration-count: 1.5;
}
