.container {
  display: flex;
  justify-content: center;
}

#btn-plus,
#btn-minus {
  width: 150px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 20px;
  margin: 100px;
  border: none;
  cursor: pointer;
  border: none;
  outline: none !important;
  font-size: 16px;
}
